<!DOCTYPE html>
<html>
  <head>
    <title>Add New Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <strong>Please fill the details:</strong> </br> </br>

    <form action="/addbook/insert" method="post">
    	<strong>Book Title:</strong><input type="text" name="name" value="" style="LEFT: 200px; POSITION:  
        absolute"/> </br> </br>
      <strong>Book Description:</strong><input type="text" name="description" value="" style="LEFT: 200px; POSITION: absolute"/>
        </br> </br>
    	<input type="submit" value="ADD" />
    </form>
    
  </body>
</html>