<!DOCTYPE html>
<html>
  <head>
    <title>Delete Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%x= JSON.parse(book) %>
    <!-- <strong>Please Input Employee ID:</strong> </br> </br> -->

    <form action="/delete_book/delete" method="post">
      <input type="hidden" name="key" value="<%=key%>">
    	<strong>Book Title:</strong><input readonly="true" type="text" name="name" value="<%=x.name%>" style="LEFT: 200px; POSITION: absolute"/> </br> </br>
      <input type="submit" value="Delete" />
    </form>
    
  </body>
</html>