<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </br> <a href="/addbook" >Add Book</a> 
    </br> <a href="/listbooks" >List Books</a> 
    </br> <a href="/checkout" >Get Book</a> 
	  </br> <a href="/checkin" >Return Book</a>
  </body>
</html>
